@font-face {
    font-family: "JetBrains Regular";
    src: url(/res/fonts/JetBrainsMono-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {

    font-family: "JetBrains Regular", monospace;

    --foreground : #1d1f21;
    --text-color : #e7ebe8;
    --link-color : #de8778;

}

a {
    color: var(--link-color);
    text-underline-offset: 10px;
}

body {

    background-color: var(--foreground);
    color: var(--text-color);

}

body #wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

body #wrapper main {

    width: 700px;
    bottom: 50%;
    display: flex;
    flex-direction: column;

}

body #info {
    display: flex;
    align-items: center;
    gap: 1em;
}

body #info #text {

    display: flex;
    flex-direction: column;

}

body #linktr {

    padding:0 15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    overflow:visible;
    white-space: nowrap;
    gap:1em

}

footer {

    position:absolute;
    bottom: 0;
}